
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Title</title>
  <link href="mail_styles.css" rel="stylesheet" />
</head>

<body>
<!-- <style> -->
<table class="body">
  <tr>
    <td class="float-center" align="center" valign="top">
      <table align="center" class="container">
        <tbody>
        <tr>
          <td class="container-cell">
            <table class="row">
              <tbody>
              <tr>
                <th class="columns small-12 large-12 first last">
                  <table>
                    <tr>
                      <th>
                        <h4>Hi <%= @user.nickname %>,</h4>
                        <%= render :partial => "partials/email/spacer", locals: { height: 5 } %>
                        <%= yield %>
                        <%= render :partial => "partials/email/spacer", locals: { height: 5 } %>
                        <p>
                          <%= simple_format @closing %>
                        </p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td class="footer">Powered by <a href="http://manifoldapp.org">Manifold Scholarship</a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
