<div>
  The following <%= @kind %> in <a href="<%= @resource.subject_url %>"><%= sanitize @resource.project.title %></a> has been flagged <%= @resource.flags_count %> <%= "time".pluralize(@resource.flags_count) %>.

  <div>
    <p style="margin-top: 15px; margin-bottom: 0;">
      <em><%= @resource.body %></em>
    </p>
  </div>

  <% if @message %>
    <div style="margin-top: 30px; margin-bottom: 30px;">
      <span style="display: block; margin-top: 15px;">
        With the latest flag, the user included this comment:
      </span>
      <p><em><%= @message %></em></p>
    </div>
  <% end %>
</div>
